@charset "UTF-8";
/* line 7, ../../assets/sass/app.scss */
h3.address {
  padding-left: 10px;
  font-size: 16px;
  color: #f9f9f9;
  text-shadow: 1px 1px 2px #000;
}

/* line 14, ../../assets/sass/app.scss */
.logo {
  float: left;
  display: block;
  padding: 10px 20px 10px 10px;
  font-weight: 200;
  color: white;
  text-shadow: 0 1px 0 #CE4213;
  font-size: 24px;
}

/* line 25, ../../assets/sass/app.scss */
.map_gradient {
  position: absolute;
  top: 41px;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 999;
  background: -webkit-gradient(radial, center center, 100, center center, 270, from(rgba(0, 0, 0, 0)), to(black));
}

/* line 35, ../../assets/sass/app.scss */
.map {
  margin-top: 41px;
  left: 0;
  width: 100%;
  height: 150px;
}

/* line 43, ../../assets/sass/app.scss */
.main {
  padding-top: 10px;
  background-color: #fefefe;
}

/* line 48, ../../assets/sass/app.scss */
.tweets {
  margin: 0 auto;
  width: 95%;
  list-style-type: none;
  opacity: 0.9;
}

/* line 55, ../../assets/sass/app.scss */
.tweet {
  margin-top: 5px;
  float: left;
  clear: both;
}

/* line 64, ../../assets/sass/app.scss */
.cut {
  position: relative;
  float: left;
  overflow: hidden;
  /*不要部分ｷﾘﾄﾘ*/
  width: 65px;
  /*正方形にしたいサイズ*/
  height: 100%;
  /*正方形にしたいサイズ*/
  display: block;
  /*SPANなのでブロック要素に*/
}

/* 吹き出し */
/* line 74, ../../assets/sass/app.scss */
.arrow_box {
  font-size: 12px;
  color: #333333;
  height: 100%;
  min-height: 55px;
  padding: 5px;
  margin: 0px 0px 10px 85px;
  /*display: block;*/
  position: relative;
  background: #f9f9f9;
  border: 1px solid #cccccc;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 89, ../../assets/sass/app.scss */
.arrow_box:after, .arrow_box:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 99, ../../assets/sass/app.scss */
.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #f9f9f9;
  border-width: 12px;
  top: 35px;
  margin-top: -15px;
}

/* line 107, ../../assets/sass/app.scss */
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #cccccc;
  border-width: 13px;
  top: 37px;
  margin-top: -18px;
}

/* line 115, ../../assets/sass/app.scss */
.thumb_active {
  background-color: #38B44A;
}

/* line 119, ../../assets/sass/app.scss */
p {
  word-wrap: break-word;
}
