@charset "UTF-8";
/* line 7, ../../assets/sass/app.scss */
h3.address {
  font-size: 14px;
}

/* line 10, ../../assets/sass/app.scss */
.fixed {
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* line 18, ../../assets/sass/app.scss */
.logo {
  float: left;
  display: block;
  padding: 10px 20px 10px 10px;
  font-weight: 200;
  color: white;
  text-shadow: 0 1px 0 #CE4213;
  font-size: 24px;
}

/* line 28, ../../assets/sass/app.scss */
.map {
  opacity: 1;
  width: 100%;
  height: 250px;
  margin-top: 40px;
}

/* line 35, ../../assets/sass/app.scss */
.tweets {
  margin: 0 auto;
  width: 95%;
  list-style-type: none;
  opacity: 0.9;
}

/* line 42, ../../assets/sass/app.scss */
.tweet {
  margin-top: 5px;
  float: left;
  clear: both;
}

/* line 51, ../../assets/sass/app.scss */
.cut {
  position: relative;
  float: left;
  overflow: hidden;
  /*不要部分ｷﾘﾄﾘ*/
  height: 15%;
  /*正方形にしたいサイズ*/
  width: 15%;
  /*正方形にしたいサイズ*/
  max-width: 65px;
  max-height: 70px;
  display: block;
  /*SPANなのでブロック要素に*/
}

/* 吹き出し */
/* line 63, ../../assets/sass/app.scss */
.arrow_box {
  font-size: 12px;
  color: #333333;
  height: 100%;
  min-height: 50px;
  padding: 5px;
  margin: 10px 0px 0px 80px;
  /*display: block;*/
  position: relative;
  background: #d5d5d5;
  border: 4px solid #38b44a;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 78, ../../assets/sass/app.scss */
.arrow_box:after, .arrow_box:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 88, ../../assets/sass/app.scss */
.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #d5d5d5;
  border-width: 12px;
  top: 35px;
  margin-top: -12px;
}

/* line 96, ../../assets/sass/app.scss */
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #38b44a;
  border-width: 18px;
  top: 35px;
  margin-top: -18px;
}

/* line 104, ../../assets/sass/app.scss */
.thumb_active {
  background-color: #38B44A;
}

/* line 108, ../../assets/sass/app.scss */
p {
  word-wrap: break-word;
}
