<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="#/tweet"><i class="icon-edit"></i></a></li>
      </ul>
      <h3 class="nav">秋葉原</h3>
    </div>
  </div>
</div>
<section>
  <div class="fixed">
    <div id="map_canvas" class="map"></div>
  </div>
  <div id="wrapper">
    <ul class="tweets">
      <li ng-repeat='tweet in tweets'>
        <div class="cut"><img ng-src='{{tweet.icon}}' class='icon tweet'></div>
        <div class="arrow_box">{{tweet.text}}</div>
      </li>
    </ul>
  </div>
</section>
