<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li><a href="#/tweet"><i class="icon-edit"></i></a></li>
      </ul>
      <h3 class="nav">秋葉原</h3>
      <!-- <a class="btn btn-small" href="#/tweet"><i class="icon-edit"></i></a> -->
    </div>
  </div>
</header>
<section>
  <div class="fixed">
    <div id="map_canvas" class="map"></div>
  </div>
  <ul class="tweets">
    <li ng-repeat='tweet in tweets'>
      <div class="cut"><img ng-src='{{tweet.icon}}' class='icon tweet'></div>
      <div class="arrow_box">{{tweet.text}}</div>
    </li>
  </ul>
</section>
