<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="logo" ng-click="logo_click()">1ch</div>
    <ul class="nav pull-right">
      <li>
        <a href="#settings" role="button" data-toggle="modal" ng-click="open()">
          <i class="icon-wrench"></i>
        </a>
      </li>
      <li>
        <a href="#modal" role="button" data-toggle="modal">
          <i class="icon-edit"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<section>
  <div class="">
    <p class="address">{{address}}</p>
  </div>
  <div class="map">
    <div id="map_canvas"></div>
  </div>
  <div id="wrapper" class="main">
    <ul class="tweets">
      <li ng-repeat='tweet in tweets'>
        <div class="cut">
          <img ng-src='{{tweet.icon}}' class='icon tweet img-rounded'>
        </div>
        <div class="arrow_box">
          <p>{{tweet.name}} : {{tweet.created | date:'yyyy/MM/dd HH:mm:ss'}}</p>
          <p>{{tweet.text}}</p>
        </div>
      </li>
    </ul>
  </div>
 
  <div class="modal hide" id="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-sign"></i></button>
      <h3 id="myModalLabel">{{address}}</h3>
    </div>
    <div class="modal-body input5append">
      <textarea class="btn-block" rows="5" placeholder="つぶやく" ng-model="text"></textarea>
      <a class="btn btn-large btn-block btn-success" data-dismiss="modal" ng-click="tweet()"><i class="icon-fire"></i> tweet</a>
    </div>
  </div>

  <div class="modal hide" id="settings" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-sign"></i></button>
      <h3 id="myModalLabel">設定</h3>
    </div>
    <div class="modal-body">
      <form>
        <div class="control-group">
          <label>名前</label>
          <input type="text" ng-model="setting_name" placeholder="全国の名無しさん">
        </div>
        <div class="control-group">
          <label>アイコン</label>
          <ul class="thumbnails">
            <li class="span1" ng-repeat='thumbnail in thumbnails'>
              <div class="thumbnail" ng-click="thumb_click($index)">
                <img class="img-rounded" ng-src="{{thumbnail.thumb}}" alt="">
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> キャンセル</a>
          <a class="btn btn-primary" data-dismiss="modal" ng-click="set()"><i class="icon-ok"></i> 設定</a>
        </div>
        
      </form>
    </div>
  </div>

</section>
